@font-face {
  font-family: "AvenirRegular";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/GlobalFont/AvenirNextProLT/AvenirRegular.otf");
}

@font-face {
  font-family: "AvenirDemiBold";
  font-style: normal;
  font-weight: 500;
  src: url("../assets/GlobalFont/AvenirNextProLT/AvenirDemi.otf");
}

@font-face {
  font-family: "AvenirBold";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/GlobalFont/AvenirNextProLT/AvenirBold.otf");
}
