* {
  box-sizing: border-box;
  margin: 0;
}

a {
  text-decoration: none;
}

@import "./partials/header";
@import "./partials/hero";
@import "./partials/list-videos";
@import "./partials/comments";
@import "./partials/fonts";
@import "./partials/uploadpage";
@import "./partials/breakpoints";
